.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px 7%;
    transition: 0.5s;

}
.logo {
  cursor: pointer;
    font-size: 24px;
  font-weight: bold;

}
ul {
    flex: 1;
    list-style: none;
    text-align: center;
}
ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}
.toggle-icon {
    width: 40px;
    cursor: pointer;
    margin-left: 40px;
}
.search-box {
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 14px;
    max-width: 200px;
}
.search-box input::placeholder{
    color: #fff;
}
.search-box img {
    width: 20px;
    cursor: pointer;
}
.dark .navbar {
    background: #000;
    color: #fff;
}
.dark .search-box {
    background: #fff;
}
.dark .search-box input {
    color: #222;
}
.dark .search-box input::placeholder {
    color: #222;
}
.avatar {
    width: 40px;
    cursor: pointer;
    margin-left: 40px;
    border-radius: 50%;
}
.avatar-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown {
    position: absolute;
    top: 60px; /* Adjust based on your layout */
    left: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--dropdown-bg-color);
    border: 1px solid var(--dropdown-border-color);
  }
  
  .dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown ul li {
    padding: 10px 20px; /* More padding for better spacing */
    cursor: pointer;
    color: var(--dropdown-text-color);
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  }
  
  .dropdown ul li:hover {
    background-color: var(--dropdown-hover-bg-color);
    color: var(--dropdown-hover-text-color); /* Darker text color on hover */
  }
  
  /* Light Theme */
  .light-theme {
    --dropdown-bg-color: #ffffff;
    --dropdown-border-color: #ddd;
    --dropdown-text-color: #333;
    --dropdown-hover-bg-color: #f1f1f1;
    --dropdown-hover-text-color: #000;
  }
  
  /* Dark Theme */
  .dark-theme {
    --dropdown-bg-color: #333;
    --dropdown-border-color: #555;
    --dropdown-text-color: #ddd;
    --dropdown-hover-bg-color: #444;
    --dropdown-hover-text-color: #fff;
  }
  