*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
 }

 .body-register {
    background: url('src/assets/bg2.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     
 }
 .box-register {
   left: 30%;
    position: relative;
    right: 250px;
    width: 480px;
    height: 500px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
 }
.box-register::before {
    content: '';
    position: absolute;
    width: 380px;
    height: 420px;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg , transparent,transparent
    ,#45f3ff,#45f3ff,#45f3ff );
    z-index: 1;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
}
.box-register::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 420px;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg , transparent,transparent
    ,#45f3ff,#45f3ff,#45f3ff );
    z-index: 1;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -3s;
}
.borderLine-register::before {
    content: '';
    position: absolute;
    width: 380px;
    height: 420px;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg , transparent,transparent
    ,#ff2880 ,#ff2880,#ff2880);
    z-index: 1;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -1.5s;
}
.borderLine-register::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 420px;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg , transparent,transparent
    ,#ff2880 ,#ff2880,#ff2880);
    z-index: 1;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -4.5s;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
   100%{
        transform: rotate(360deg);
    }
}
 .box-register form {
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 60px  30px ;
    border-radius: 8px;
    z-index: 2;
    display: flex;
     
    justify-content: center;
    flex-direction: column;
 }
 .box-register form h2 {
    color: #fff;
    
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
 }
 .box-register form .inputBox-register {
    position: relative;
    width: 400px;
    margin-top: 30px;
 }
 .box-register form .inputBox-register input {
    position: relative;
    width: 100%;
      padding:   5px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    color: #23242a;
    border: none;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
 }
 .box-register form .inputBox-register span {
    position: absolute;
    left: 0;
    
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    transition: 0.5s;
 }

 .box-register form .inputBox-register input:valid ~ span, 
 .box-register form .inputBox-register input:focus ~ span  {
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-20px);
 }
 .box-register form .inputBox-register i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
 }
 .box-register form .inputBox-register input:valid ~ i ,
 .box-register form .inputBox-register input:valid ~ i {
    height: 33px;

 }
 .box-register form .links-register {
    display: flex;
    
    justify-content: center;
 }
 .box-register form .links-register a {
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;

}
.box-register form .links-register a:hover ,
.box-register form .links-register a:nth-child(2)
{
    color: #fff;
}
.box-register .inputBox-register input[type="date"]  {
   color: #8f8f8f;
}
.box-register .inputBox-register input[type="date"] ~ span  {
   bottom: 20px; 
}
.box-register form input[type ='submit'] {
    border: none;
    outline: none;
    position: relative;
    left: 150px;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.box-register form input[type ='submit']:active {
    opacity: 0.8;
}